<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polsri.keamananlab">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KeamananLab">
        <activity
            android:name=".CameraImageView2"
            android:parentActivityName=".Node2"/>
        <activity
            android:name=".CameraImageView"
            android:parentActivityName=".Node1" />
        <activity
            android:name=".About"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Node2"
            android:parentActivityName=".SelectNode" />
        <activity
            android:name=".Node1"
            android:parentActivityName=".SelectNode" />
        <activity
            android:name=".SelectNode"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>